#map {
    height: 623px;
}

.my-label {
    position: absolute;
    width:100px;
    font-size:20px;
}

p {
    text-align: center;
    width: 120px;
    margin: 0px;
    padding: 0px;
}

.cidade {
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
}