#map {
    height: 623px;
}

.my-label {
    position: absolute;
    width:100px;
    font-size:20px;
}

p {
    text-align: center;
    width: 120px;
    margin: 0px;
    padding: 0px;
}

.cidade {
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
}

.legend {
    background-color: darkgray;
    padding: 5px;
    border: gray 1px, 1px;
    border-radius: 3px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
